/target/
!.mvn/wrapper/maven-wrapper.jar
backend/src/main/resources
backend/target
frontend/dist/
frontend/node/
frontend/node_modules/
frontend/npm-debug.log
frontend/target
frontend/test-output
frontend/test/e2e/reports
frontend/test/unit/coverage
security/target/
selenium-debug.log
node_modules
static/
root@leviheidrick.

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/