@import '~vuetify/src/stylus/main'

.playfair-font {
  font-family: 'Playfair Display', serif!important;
  &-bold {
    font-weight bold;
    &-italic {
      font-style: italic;
    }
  }
}

.main-hover & div.v-toolbar__content{
  padding-left 0;
}
.extra-letter-spacing {
  letter-spacing 1.5px!important;
  &-intro {
    letter-spacing 3px!important;
  }
}

.theme--dark {
  &.application, &.v-navigation-drawer {
    background: rgb(0, 1, 2)
  }
}
